<% if(error==1){ %>
    <script>
        alert("already added");    
    </script>
    <% include ../common/client_header.ejs %>

<% }else{ %>
<div class="header navbar-fixed-top">
    <!-- <h2 class="logo">DarkCode</h2> -->
    <a href="/client"><img class="logo" src="/images/white.png"></a>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
    <i class="fa fa-bars"></i>
    </label>
    <ul class="menu">
    <a href="/client/profile"><img class="img-circle" src="/images/<%= user_info.img %>">&nbsp;&nbsp;&nbsp;<%= user_info.username %></a>
    <a href="/client"><span class="fa fa-home"></span></a>
    <a href="/client"><span class="fa fa-bell-o">&nbsp;<span class="badge"></span></span></a>
    <a href="/client"><span class="fa fa-bookmark-o">&nbsp;<span class="badge"></span></span></a>
    <a href="/client"><span class="fa fa-cart-plus">&nbsp;<span class="badge"><%= total_cart %></span></span></a>
    <a href="/client"><span class="fa fa-plus-square"></span>&nbsp;&nbsp;Add Job</a>
    <a href="/signout"><span class="fa fa-sign-out"></span></a>
    <label for="chk" class="hide-menu-btn">
        <i class="fa fa-bars"></i>
    </label>
    </ul>
</div>
<% } %>