<div class="row">
    <hr class="hr-20px">
    <div class="phtos profile-gallery-div" id="recommend-text" onclick="clickPhotos()">
        <button class="profile-btn photos-btn btn-active">Photos</button>
        <hr class="recommend-hr">                        
    </div>
    <div class="projects profile-gallery-div" id="wedding-text" onclick="clickProjects()">
            <button class="profile-btn btn-inactive">Projects</button>  
        </div>
        <div class="events profile-gallery-div" id="wildlife-text" onclick="clickEvents()">
            <button class="profile-btn btn-inactive">Events</button>
        </div>
        <div class="overview profile-gallery-div" id="wildlife-text" onclick="clickOverview()">
            <button class="profile-btn btn-inactive">Overview</button>
        </div>
    <div class="about profile-gallery-div" id="wildlife-text" onclick="clickEdit()">
        <button class="profile-btn update-btn btn-inactive">Update Profile</button>
    </div>
</div>
<div id="">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
            <img src="/images/p1.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/images/p.jpg">
            <img src="/images/p2.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
        </div>
    </div>
            
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/images/p1.jpg">
            <img src="/images/p3.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
        </div>
    </div>
            
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/images/p1.jpg">
            <img src="/images/p4.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="/images/p1.jpg">
            <img src="/images/p4.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
        </div>
    </div>
</div>