<div class="row">
        <hr class="hr-20px">
        <div class="phtos profile-gallery-div" id="recommend-text" onclick="clickPhotos()">
            <button class="profile-btn photos-btn">Photos</button>
            <hr class="recommend-hr">                        
        </div>
        <div class="projects profile-gallery-div" id="wedding-text" onclick="clickProjects()">
                <button class="profile-btn btn-inactive">Projects</button>  
            </div>
            <div class="events profile-gallery-div" id="wildlife-text" onclick="clickEvents()">
                <button class="profile-btn btn-active">Events</button>
            </div>
            <div class="overview profile-gallery-div" id="wildlife-text" onclick="clickOverview()">
                <button class="profile-btn btn-inactive">Overview</button>
            </div>
        <div class="edit profile-gallery-div" id="wildlife-text" onclick="clickEdit()">
            <button class="profile-btn btn-inactive
            ">Update Profile</button>
        </div>
    </div>