
<header>
    <div class="header navbar-fixed-top">
        <a href="/home"><img class="logo" src="/images/black.png"></a>
        <input type="text" class="mysearchbox input-sm" placeholder="search your keyword...">

        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
        <i class="fa fa-bars"></i>
        </label>
            
        <ul class="menu">
        <a href="/signin"><span class="fa fa-user"></span>&nbsp;&nbsp;Sign in</a>
        <a href="/signup"><span class="fa fa-user-plus  "></span>&nbsp;&nbsp;Sign Up</a>
        <a href="/home"><span class="mobile"><span class="fa fa-mobile"></span>&nbsp;&nbsp;Mobile Contest</span></a>
        <label for="chk" class="hide-menu-btn">
            <i class="fa fa-bars"></i>
        </label>
        </ul>
    </div>
</header>